<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>page1</h1>
    <p>hello! page1!</p>
    <script type="text/javascript" src="/javascripts/config.js"></script>
    <script type="text/javascript" src="/javascripts/util.js"></script>
    <script type="text/javascript" src="/javascripts/page1.js"></script>
</body>
</html>